* {
  box-sizing: border-box;
}

/* brand color palette */
/* I added my dark & point gold color */
:root {
  --primary: rgba(68, 88, 119, 1);
  /* --secondary: rgba(146, 204, 206, 1); */
  --light: rgba(238, 238, 247, 1);
  --dark: #2e2e31;
  --black: #000;
  --point-gold: #e8c193;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* main logo and nav section - added my logo image & nav effect changed*/
.header {
  position: absolute;
  padding: 15px 3% 15px 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header .main-logo {
  height: 100%;
}

.header .main-logo img {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navigation a {
  padding: 5px 10px;
  color: var(--point-gold);
  margin-right: 10px;
  transition: all 0.25s ease-in;
  font-size: 1.2rem;
}

.navigation a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--point-gold);
  transition: all 0.4s ease-in-out;
}

.navigation a:hover::after {
  width: 100%;
}

.navigation a:last-child {
  margin-right: 0;
}

/* main banner section */
.main-banner {
  background-color: var(--dark);
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  height: 100vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.banner-box h2 {
  margin: 0;
  padding: 5px 10px;
  font-size: 3rem;
  line-height: 1.2;
}

.banner-box .banner-text {
  margin-top: 2%;
  font-size: 1.2rem;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

/* page common section */
.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin-top: 50px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  margin-bottom: 2%;
  flex: 0 0 20%;
  padding-right: 15px;
  font-size: 2.5rem;
  line-height: 1.1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/* about me */
.aboutme-text {
  max-width: 1000px;
}

.aboutme-text p {
  font-size: 1.2rem;
}

.aboutme-text p:first-child {
  margin-bottom: 30px;
}

/* portfolio project images */
.project-item {
  background-color: var(--primary);
  color: var(--black);
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  margin: 0.5em;
  background-blend-mode: soft-light;
  background-size: 100%;
  background-position: top center;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.project-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.project-item:hover {
  background-size: 105%;
  background-color: rgba(255, 255, 255, 0.2);
}

.project-item .project-text {
  background-color: var(--dark);
  color: var(--point-gold);
  padding: 8px 10px;
}

.project-item h3 {
  font-size: 1.6rem;
}

.horiseon {
  background-image: url("../images/02-portfolio-horiseon.png");
}

.prework {
  background-image: url("../images/02-portfolio-prework.png");
}

.run-buddy {
  background-image: url("../images/02-run-buddy.jpg");
}

.react-calc {
  background-image: url("../images/02-portfolio-2.jpg");
}

.pastel-puzzles {
  background-image: url("../images/02-portfolio-3.jpg");
}


/* contact me */
.contact-section address {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
  font-style: normal;
}

.contact-section address a {
  color: var(--dark);
  padding: 5px;
  font-size: 1.3rem;
  margin-right: 5%;
  display: inline-block;
}

.contact-section address a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--dark);
  transition: all 0.4s ease-in-out;
}

.contact-section address a:hover {
  font-weight: bold;
}

.contact-section address a:hover::after {
  width: 100%;
}



/* end portfolio project images */

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .project-item,
  .project-item:first-child {
    flex-basis: 100%;
  }

  .project-item:first-child {
    min-height: 180px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact-section address {
    flex-direction: column;
    align-items: flex-start;
  }
}
